{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->
    <title>mobile</title>
</head>
<body>
    <div class="container" id="main-bg"> 
        <div class="logo">
            <img src="{% static 'img/home-button 1.svg' %}" alt="">
            <h1>SMART<br>HOME</h1>
        </div>
        <div class="start-btn">
            <a href="{% url 'rooms' %}"><img src="{% static 'img/start_btn.svg' %}" alt=""></a>
        </div>
    </div>
</body>
</html>